// _scrolls.scss
//
// Template's basic scrolls configurations.
//

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-gray-9;
  border-radius: 3px;
  box-shadow: $shadow-1;
}
