// _variables.scss
//
// Template's variables for colors, font weight and... .
//

// Base Colors
$color-primary: #4db01c; // #961b1b;
$color-secondary: #333333;
$color-success: #1ac486;
$color-warning: #fadb14;
$color-danger: #f5222d;
$color-dark: #141414;
$color-white: #ffffff;
// / Base Colors

// Neutral Colors
$color-gray-1: #ffffff;
$color-gray-2: #fafafa;
$color-gray-3: #f5f5f5;
$color-gray-4: #f0f0f0;
$color-gray-5: #d9d9d9;
$color-gray-6: #bfbfbf;
$color-gray-7: #8c8c8c;
$color-gray-8: #595959;
$color-gray-9: #434343;
$color-gray-10: #262626;
$color-gray-11: #1f1f1f;
$color-gray-12: #141414;
$color-muted: $color-gray-7;
// / Neutral Colors

// Font Weights
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
// / Font Weights

// Font Family
$f-family: "open sans", Helvetica, Arial, sans-serif;
// / Font Family

// aside with
$aside-width: 300px;

// Responsive Breakpoints
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
// / Responsive Breakpoints

// Template Vars
$shadow-0: none;
$shadow-1: 0px 20px 27px rgba(0, 0, 0, 0.05);
$shadow-2: 0px 4px 6px rgba(0, 0, 0, 0.12);
$shadow-3: 0px 5px 10px rgba(0, 0, 0, 0.12);
// / Template Vars
